/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty {
    border-bottom: 1px solid #FF0000;
    box-shadow: 0 1px 0 0 #FF0000;
}

button:hover, a.btn:hover {
    cursor: pointer;
}