<% include partials/header %>
  <h1>Add customer</h1>
  <%  if(ERRORS){  %>
    <ul>
    <%  ERRORS.array().forEach( (err) => {  %>
      <li><%=err.msg%></li>
    <%  }); %>
    </ul>
  <% } %>
  <form method="POST" action="/books/add">
    <label for="">Book Name</label><br>
    <input type="text" name="name">
    <br>
    <label for="">ISBN</label><br>
    <input type="number" name="isbn">
    <br>
    <input type="submit" value="Submit">
  </form>
  <h1><%=title%></h1>

  <ul>
    <%  books.forEach( (book) => {  %>
      <li><%=book.name%> - <a class="deleteUser" href="#" data-id="<%=book._id%>">Delete</a></li>
    <%  }); %>
  </ul>
<% include partials/footer %>


